<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500">Delivery Peoples</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500">{{params?.id ? 'Update' : 'Create'}}</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap" *ngIf="params?.id">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500">{{getItemDetails?.name}}</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    {{params?.id ? 'Update' : 'Create'}} Delivery People
                </h2>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <div class="max-w-3xl m-auto">

            <form class="flex flex-col mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden" [formGroup]="createForm">
                <p class="text-lg font-medium">Basic delivery people information</p>
                <p class="text-secondary mb-6">
                    Enter the basic Delivery People information details.
                </p>
                <div class="flex flex-col">
                    <mat-form-field class="flex-auto fuse-mat-dense" [floatLabel]="'always'">
                        <mat-label>Name</mat-label>
                        <input matInput [placeholder]="'Name'" [formControlName]="'name'">
                    </mat-form-field>
                    <mat-form-field class="flex-auto fuse-mat-dense" [floatLabel]="'always'">
                        <mat-label>Email</mat-label>
                        <input matInput [placeholder]="'Email'" type="email" [formControlName]="'email'">
                    </mat-form-field>
                    <mat-form-field class="flex-auto fuse-mat-dense" [floatLabel]="'always'">
                        <mat-label>Address</mat-label>
                        <input matInput [placeholder]="'Address'" #search [formControlName]="'address'">
                    </mat-form-field>
                    <mat-form-field class="flex-auto fuse-mat-dense" [floatLabel]="'always'">
                        <mat-label>Profile Image</mat-label>
                        <input matInput [placeholder]="'Profile Image'" [formControlName]="'image'">
                    </mat-form-field>
                    <mat-form-field class="flex-auto fuse-mat-dense" [floatLabel]="'always'">
                        <mat-label>Phone</mat-label>
                        <input matInput [placeholder]="'Phone'" type="tel" [formControlName]="'phone'">
                        <mat-select matPrefix [placeholder]="'County Code'" [value]="'+91'" [formControlName]="'countrycode'">
                            <mat-option [value]="'+91'">India (+91)</mat-option>
                            <mat-option [value]="'+3'">IT (+3)</mat-option>
                            <mat-option [value]="'+60'">Malaysia (+60)</mat-option>
                        </mat-select>
                    </mat-form-field>                   
                  
                    <div class="flex mb-4">
                        <agm-map class="flex-auto" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                            <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                                (dragEnd)="markerDragEnd($event)"></agm-marker>
                        </agm-map>
                    </div>
                    <mat-form-field class="flex-auto fuse-mat-dense" [floatLabel]="'always'">
                        <mat-label>Device Id</mat-label>
                        <input matInput [placeholder]="'Device ID'" [formControlName]="'deviceId'">
                    </mat-form-field>
                   
                    <mat-form-field class="flex-auto fuse-mat-dense" [floatLabel]="'always'">
                        <mat-label>Device OS</mat-label>
                        <mat-select [placeholder]="'Select Device OS'"  [formControlName]="'deviceOS'">
                            <mat-option value="ANDROID">ANDROID</mat-option>
                            <mat-option value="IOS">IOS</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="flex-auto fuse-mat-dense" [floatLabel]="'always'" >
                        <mat-label>Status</mat-label>
                        <mat-select [placeholder]="'Select Status'"  [formControlName]="'status'">
                            <mat-option value="1">Active</mat-option>
                            <mat-option value="0">Inactive</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
                    <button mat-button [routerLink]="[params?.id ? '../../' : '../']">
                       Cancel
                    </button>
                    <button class="px-6 ml-3" mat-flat-button [color]="'primary'" type="submit" (click)="save()">
                        {{params?.id ? 'Update' : 'Save'}}
                    </button>
                </div>
            </form>

        </div>

    </div>

</div>